.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.faq{
    width: 500px;

}
.item{
    background: #1083e2;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;

}

.title{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color: #ffffff;
    background: #419de9;
    height: auto;
    border-radius: 5px;
    padding: 15px;
    
}

.btn{
    background: #0065b8;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.btn:hover{
    background: #047fe4;
}